.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
**/.DS_Store
**/Thumbs.db
**/*.log
**/*.vsix
.eslintrc.json
tsconfig.json
tslint.json
.nyc_output/**
coverage/**
**/*.test.ts
**/*.spec.ts
test/**
tests/**
**/.git/**
**/.github/**
**/README.md
**/CHANGELOG.md
**/.npmignore
**/package-lock.json
**/yarn.lock